name: Build Windows EXE
on:
  workflow_dispatch:   

  push:
    tags:
      - "v*"        

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'

      - name: Install Tauri CLI
        run: cargo install tauri-cli --locked

      - name: Build Tauri App
        run: cargo tauri build
        
      # Upload file .exe thô
      - name: Upload EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Vate-Standalone-EXE
          path: src-tauri/target/release/app.exe
          
      # Upload luôn file cài đặt (Setup)
      - name: Upload Setup Bundle
        uses: actions/upload-artifact@v4
        with:
          name: Vate-Windows-Setup
          path: src-tauri/target/release/bundle/nsis/*.exe
